RedHill.SalesInsight.Web/Service References/SalesInsight/SalesInsight2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4216/Services/SalesInsight.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4216/Services/SalesInsight.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" />
  <xs:import schemaLocation="http://localhost:4216/Services/SalesInsight.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:4216/Services/SalesInsight.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" />
  <xs:element name="RequiresSetup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequiresSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequiresSetupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="ValidateUserResult" nillable="true" type="q2:SIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetUsersResult" nillable="true" type="q3:ArrayOfSIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="user" nillable="true" type="q4:SIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="user" nillable="true" type="q5:SIUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteOperations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="operations" nillable="true" type="q6:ArrayOfSIOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteOperationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q9:ArrayOfint" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectStatusIds" nillable="true" type="q10:ArrayOfint" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q11:ArrayOfint" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salesStaffIds" nillable="true" type="q12:ArrayOfint" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetForecastResult" nillable="true" type="q13:SIForecastProjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q15:ArrayOfstring" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q16:ArrayOfint" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectStatusIds" nillable="true" type="q17:ArrayOfint" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q18:ArrayOfint" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salesStaffIds" nillable="true" type="q19:ArrayOfint" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetPipelineResult" nillable="true" type="q20:ArrayOfSIPipelineProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="project" nillable="true" type="q22:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="AddProjectResult" nillable="true" type="q23:SIViewProjectDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q24:guid" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectDetailsResult" nillable="true" type="q25:SIViewProjectDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetDistrictFiltersResult" nillable="true" type="q27:ArrayOfDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineStatusFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPipelineStatusFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetPipelineStatusFiltersResult" nillable="true" type="q29:ArrayOfProjectStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetPlantFiltersResult" nillable="true" type="q31:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaffFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetStaffFiltersResult" nillable="true" type="q33:ArrayOfSalesStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q34:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetCustomersResult" nillable="true" type="q35:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetCustomerResult" nillable="true" type="q36:SICustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="customer" nillable="true" type="q37:SICustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="SaveCustomerResult" nillable="true" type="q38:SISaveCustomerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q39:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetCustomerContactsResult" nillable="true" type="q40:ArrayOfCustomerContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q41:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetCompetitorsResult" nillable="true" type="q42:ArrayOfCompetitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q43:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetSalesStaffResult" nillable="true" type="q44:ArrayOfSISalesStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalesStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="salesStaff" nillable="true" type="q45:SISalesStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSalesStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="salesStaff" nillable="true" type="q46:SISalesStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSalesStaffResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q47:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetContractorsResult" nillable="true" type="q48:ArrayOfContractor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketSegments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q49:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarketSegmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetMarketSegmentsResult" nillable="true" type="q50:ArrayOfMarketSegment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q51:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetStatusesResult" nillable="true" type="q52:ArrayOfProjectStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q53:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetRegionsResult" nillable="true" type="q54:ArrayOfRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q55:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetDistrictsResult" nillable="true" type="q56:ArrayOfDistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q57:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetPlantsResult" nillable="true" type="q58:ArrayOfPlant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q59:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectionDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectionDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectionDateResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectionDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="projectionDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectionDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetStatusTypesResult" nillable="true" type="q60:ArrayOfSIStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProductTypesResult" nillable="true" type="q61:ArrayOfSIProductType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePlantTargetOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="operation" nillable="true" type="q62:SIPlantTargetOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePlantTargetOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantTargets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q63:guid" />
        <xs:element minOccurs="0" name="month" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantTargetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetPlantTargetsResult" nillable="true" type="q64:ArrayOfSIPlantTargetRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastVersusPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q65:guid" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q66:ArrayOfint" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q67:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastVersusPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetForecastVersusPlanResult" nillable="true" type="q68:ArrayOfSIForecastVersusPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantProjections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q69:guid" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q70:ArrayOfint" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q71:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantProjectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetPlantProjectionsResult" nillable="true" type="q72:ArrayOfSIPlantProjections" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentationAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q73:guid" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q74:ArrayOfint" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q75:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentationAnalysisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetSegmentationAnalysisResult" nillable="true" type="q76:ArrayOfSISegmentationAnalysis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectionAccuracy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q78:ArrayOfint" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q79:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectionAccuracyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectionAccuracyResult" nillable="true" type="q80:ArrayOfSIProjectionAccuracy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectedActualAssetProductivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q81:guid" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q82:ArrayOfint" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q83:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectedActualAssetProductivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectedActualAssetProductivityResult" nillable="true" type="q84:ArrayOfSIProjectedActualAssetProductivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q85:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuoteSourcesResult" nillable="true" type="q86:ArrayOfQuoteSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSpecifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q87:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSpecificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuoteSpecificationsResult" nillable="true" type="q88:ArrayOfQuoteSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortLoadTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q89:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortLoadTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetShortLoadTypesResult" nillable="true" type="q90:ArrayOfShortLoadType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandbyTimeTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q91:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandbyTimeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetStandbyTimeTypesResult" nillable="true" type="q92:ArrayOfStandbyTimeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsOfMeasure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q93:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitsOfMeasureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetUnitsOfMeasureResult" nillable="true" type="q94:ArrayOfUnitOfMeasure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q95:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetConcreteProductsResult" nillable="true" type="q96:ArrayOfSIConcreteProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="concreteProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcreteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetConcreteProductResult" nillable="true" type="q97:SIConcreteProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConcreteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="concreteProduct" nillable="true" type="q98:SIConcreteProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConcreteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="SaveConcreteProductResult" nillable="true" type="q99:SISavedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="productType" nillable="true" type="q100:SIProductType" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q101:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetAdditionalProductsResult" nillable="true" type="q102:ArrayOfSIAdditionalProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="additionalProductId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetAdditionalProductResult" nillable="true" type="q103:SIAdditionalProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdditionalProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="additionalProduct" nillable="true" type="q104:SIAdditionalProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAdditionalProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="SaveAdditionalProductResult" nillable="true" type="q105:SISavedProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyValueResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q106:guid" />
        <xs:element minOccurs="0" name="quoteId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q107:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuotesResult" nillable="true" type="q108:ArrayOfQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSummaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q109:guid" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q110:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSummariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteSummariesResult" nillable="true" type="q111:ArrayOfSIQuoteSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSupport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="plantId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteSupportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteSupportResult" nillable="true" type="q112:SIQuoteSupport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q113:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteResult" nillable="true" type="q114:SIQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q115:guid" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="quote" nillable="true" type="q116:SIQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="SaveQuoteResult" type="q117:SaveQuoteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q118:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="CopyQuoteResult" nillable="true" type="q119:SIQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q120:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
        <xs:element minOccurs="0" name="soldStatusId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptQuoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteConcreteProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q121:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q122:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteConcreteProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuoteConcreteProductsResult" nillable="true" type="q123:ArrayOfQuoteConcreteProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteAdditionalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q124:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q125:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteAdditionalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuoteAdditionalProductsResult" nillable="true" type="q126:ArrayOfQuoteAdditionalProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q127:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
        <xs:element xmlns:q128="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sorts" nillable="true" type="q128:ArrayOfstring" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL" minOccurs="0" name="GetQuoteNotesResult" nillable="true" type="q129:ArrayOfQuoteNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteConcreteProductColors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteConcreteProductColorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQuoteConcreteProductColorsResult" nillable="true" type="q130:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessDashboardMajorJobSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q131:guid" />
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="regionIds" nillable="true" type="q132:ArrayOfint" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q133:ArrayOfint" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q134:ArrayOfint" />
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salesStaffIds" nillable="true" type="q135:ArrayOfint" />
        <xs:element minOccurs="0" name="bidDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bidDateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessDashboardMajorJobSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectSuccessDashboardMajorJobSummaryResult" nillable="true" type="q136:ArrayOfSIProjectSuccessMajorJobSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessMarketShareSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q137:guid" />
        <xs:element xmlns:q138="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="regionIds" nillable="true" type="q138:ArrayOfint" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q139:ArrayOfint" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q140:ArrayOfint" />
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salesStaffIds" nillable="true" type="q141:ArrayOfint" />
        <xs:element minOccurs="0" name="bidDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bidDateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessMarketShareSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectSuccessMarketShareSummaryResult" nillable="true" type="q142:ArrayOfSIProjectSuccessMarketShareSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessSalesStaffSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q143:guid" />
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="regionIds" nillable="true" type="q144:ArrayOfint" />
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="districtIds" nillable="true" type="q145:ArrayOfint" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="plantIds" nillable="true" type="q146:ArrayOfint" />
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="salesStaffIds" nillable="true" type="q147:ArrayOfint" />
        <xs:element minOccurs="0" name="bidDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bidDateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="startDateTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectSuccessSalesStaffSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetProjectSuccessSalesStaffSummaryResult" nillable="true" type="q148:ArrayOfSIProjectSuccessSalesStaffSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q149:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteReportHeaderResult" nillable="true" type="q150:ArrayOfSIQuoteSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportConcreteProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q151:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportConcreteProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteReportConcreteProductsResult" nillable="true" type="q152:ArrayOfSIQuoteConcreteProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportAdditionalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q153:guid" />
        <xs:element minOccurs="0" name="quoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteReportAdditionalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="GetQuoteReportAdditionalProductsResult" nillable="true" type="q154:ArrayOfSIQuoteAdditionalProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProfitability">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="quote" nillable="true" type="q155:SIQuote" />
        <xs:element minOccurs="0" name="plantId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="marketSegmentId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateProfitabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/RedHill.SalesInsight.DAL.DataTypes" minOccurs="0" name="CalculateProfitabilityResult" nillable="true" type="q156:SIQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>